* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.headerlogin {
  margin-top: 60px
}
.headersign {
  margin-top: 60px;
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  display: inline-block;
  background-color: #F1F1F1;
  border-bottom: 2.4px solid rgb(85, 83, 83);
}

.links {
  margin-top: 10px;
}

form {
  margin-top: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: medium;
  display: block;
  text-align: left; /* Adicionei text-align ao seletor a */
  margin-left: 60px;
}
